<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>12/7/2011, 13:21 </string>
		<string>34.20</string>
		<string>1.34</string>
		<string>£ 45.83</string>
	</array>
	<key>1</key>
	<array>
		<string>9/8/2011, 10:14</string>
		<string>56.30</string>
		<string>1.35</string>
		<string>£ 76.00</string>
	</array>
	<key>2</key>
	<array>
		<string>29/9/2011, 08:49</string>
		<string>21.90</string>
		<string>1.36</string>
		<string>£ 29.78</string>
	</array>
	<key>3</key>
	<array>
		<string>2/10/2011, 19:23</string>
		<string>48.23</string>
		<string>1.38</string>
		<string>£ 66.56</string>
	</array>
	<key>4</key>
	<array>
		<string>19/11/2011, 21:43</string>
		<string>31.20</string>
		<string>1.38</string>
		<string>£ 43.06</string>
	</array>
	<key>5</key>
	<array>
		<string>10/12/2011, 07:12</string>
		<string>64.30</string>
		<string>1.39</string>
		<string>£ 89.38</string>
	</array>
	<key>6</key>
	<array>
		<string>26/12/2011, 14:22</string>
		<string>37.50</string>
		<string>1.38</string>
		<string>£ 51.75</string>
	</array>
	<key>7</key>
	<array>
		<string>29/1/2012, 17:23</string>
		<string>30.11</string>
		<string>1.39</string>
		<string> £ 41.85</string>
	</array>
</dict>
</plist>
